<ul class="navbar">
    <li><app-selected-button [icon]="ImgDiscover" [state]="selected" [title]="discover"></app-selected-button></li>
    <li><app-selected-button [icon]="ImgSearch" [title]="search"></app-selected-button></li>
    <li><app-selected-button [icon]="ImgUpload" [title]="upload"></app-selected-button></li>
    <li><app-selected-button [icon]="ImgChat" [title]="chat"></app-selected-button></li>
    <li><app-selected-button [icon]="ImgProfile" [title]="profile"></app-selected-button></li>
</ul>